@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500&display=swap');

html {
  font-synthesis: none;
}
html, body {
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-image: url('/iStock-1564622193.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* CSS */
.decorated-heading {
  display: flex;
  align-items: center;
  gap: 17px;
  color: #414141;
  font-size: 42px;
  font-weight: 100;
  letter-spacing: 0.30em;
  white-space: nowrap;
}

.decorated-heading::before,
.decorated-heading::after {
  content: '';
  display: block;
  width: 43px;
  height: 1px;
  background: #414141;
  flex-shrink: 0;
}
